Name: James Wang

Course: BMGT404

Section: 0101

Date: 4/5/2024

# HW 4
This homework explores data cleaning and processing for further analyzing. It is important to know these techniques to help businesses answer where there weak points may lie. Oftentimes, data will not come in a perfect format, so we use techniques and critical thinking to clean and process said data.

In [2]:
import numpy as np
import pandas as pd

## Reading the file

Getting to know the file and what sort of observations you can take from the first couple entries can give a good idea of what to be looking for. For example, in this sample data, the ranking and index overlap and that is not needed, also in the first 30 entries there are various duplicates. Without this process, we wouldn't even know what about the data should be imputted or filtered.

In [3]:
path = ''
df_sales = pd.read_csv(path + 'HW4-video-game-sales.csv')
df_sales.index = df_sales['Rank'] # set index
del df_sales['Rank'] # delete column once index has been set
df_sales.head(30)

,Name,Publisher:Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,
1,Wii Sports,Nintendo:Wii,2006,Sports,41.49,29.02,3.77,8.46
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Super Mario Bros.,Nintendo:NES,1985,Platform,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Nintendo:Wii,2008,Racing,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Nintendo:Wii,2009,Sports,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,Nintendo:GB,1996,Role-Playing,11.27,8.89,10.22,1
6,Tetris,Nintendo:GB,1989,Puzzle,23.2,2.26,4.22,0.58
7,New Super Mario Bros.,Nintendo:DS,2400,Platform,11.38,9.23,6.5,2.9
8,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
8,Wii Play,Nintendo:Wii,2006,Misc,14.03,9.2,2.93,2.85
9,New Super Mario Bros. Wii,Nintendo:Wii,2009,Platform,14.59,7.06,4.7,2.26
10,Duck Hunt,Nintendo:NES,1984,Shooter,26.93,0.63,0.28,NaN
11,Nintendogs,Nintendo:DS,12005,Simulation,9.07,11,1.93,2.75
12,Mario Kart DS,Nintendo:DS,2005,Racing,9.81,7.57,4.13,1.92
13,Pokemon Gold/Pokemon Silver,Nintendo:GB,1999,Role-Playing,NaN,NaN,NaN,NaN
14,Wii Fit,Nintendo:Wii,2007,Sports,8.94,8.03,3.6,2.15
15,Wii Fit Plus,Nintendo:Wii,2009,Sports,9.09,8.59,2.53,1.79
16,NaN,Microsoft Game Studios:X360,2010,Misc,14.97,4.94,0.24,1.67
17,Grand Theft Auto V,Take-Two Interactive:PS3,2013,Action,7.01,9.27,0.97,4.14
18,Grand Theft Auto: San Andreas,Take-Two Interactive:PS2,2004,Action,9.43,0.4,0.41,10.57
19,Super Mario World,Nintendo:SNES,1990,Platform,12.78,3.75,3.54,0.55
20,Brain Age: Train Your Brain in Minutes a Day,Nintendo:DS,2005,Misc,4.75,9.26,4.16,2.05
21,Pokemon Diamond/Pokemon Pearl,Nintendo:DS,2006,Role-Playing,6.42,4.52,6.04,1.37
22,Super Mario Land,Nintendo:GB,1989,Platform,10.83,2.71,4.18,0.42
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Super Mario Bros. 3,Nintendo:NES,1988,Platform,9.54,3.44,3.84,0.46
24,Grand Theft Auto V,Take-Two Interactive:X360,2013,Action,9.63,5.31,0.06,1.38
25,Grand Theft Auto: Vice City,Take-Two Interactive:PS2,2002,Action,8.41,5.49,0.47,1.78
26,Pokemon Ruby/Pokemon Sapphire,Nintendo:GBA,2002,Role-Playing,6.06,3.9,5.38,0.5
27,Pokemon Black/Pokemon White,Nintendo:DS,2010,Role-Playing,5.57,3.28,5.65,0.82

In [4]:
#First 100 entries
first = df_sales.loc[:100]
print(f"The % of entries that are intact is {100-first.isnull().sum().sum():.2f}%")

The % of entries that are intact is 70.00%

The justification for this approach is that we can see what values is null and take the sum of those values from the first 100 entries. The null/na rows is the dirtiest data, and it is difficult to individually see which data is fully intact if a lot of data is being processed. It is simpler to filter out the data that is completely blank and use the rest.

## Cleaning Data

Now that we know what data we might be looking at, it is time to check if there are human errors because this can influence the data analyzing process. Removing a row of all missing and dropping all NA's is what is needed to begin to understand how to analyze the data.

In [5]:
#filter where category might be missing
df_sales = df_sales[df_sales.Name != "Missing"]
#filter where there are at least 7 valid values
df_sales.dropna(thresh = 7, inplace = True)
df_sales.head(10)

,Name,Publisher:Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,
1,Wii Sports,Nintendo:Wii,2006,Sports,41.49,29.02,3.77,8.46
2,Super Mario Bros.,Nintendo:NES,1985,Platform,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Nintendo:Wii,2008,Racing,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Nintendo:Wii,2009,Sports,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,Nintendo:GB,1996,Role-Playing,11.27,8.89,10.22,1
6,Tetris,Nintendo:GB,1989,Puzzle,23.2,2.26,4.22,0.58
7,New Super Mario Bros.,Nintendo:DS,2400,Platform,11.38,9.23,6.5,2.9
8,Wii Play,Nintendo:Wii,2006,Misc,14.03,9.2,2.93,2.85
9,New Super Mario Bros. Wii,Nintendo:Wii,2009,Platform,14.59,7.06,4.7,2.26
10,Duck Hunt,Nintendo:NES,1984,Shooter,26.93,0.63,0.28,NaN

## Creating New Data

To come up with meaningful insights, we need to create new columns that the original data might have missed. In this instance a total global sales column is added to see how well the game performs in all regions.

In [6]:
#converting data types to floats
df_sales['NA_Sales'] = pd.to_numeric(df_sales['NA_Sales'])
df_sales['EU_Sales'] = pd.to_numeric(df_sales['EU_Sales'])
df_sales['JP_Sales'] = pd.to_numeric(df_sales['JP_Sales'])
df_sales['Other_Sales'] = pd.to_numeric(df_sales['Other_Sales'])
df_sales['Year'] = pd.to_numeric(df_sales['Year'])

In [7]:
df_sales["Total_Global_Sales"] = df_sales["NA_Sales"] + df_sales["EU_Sales"] + df_sales["JP_Sales"] + df_sales["Other_Sales"]
df_sales.head(10)

,Name,Publisher:Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Global_Sales
Rank,,,,,,,,,
1,Wii Sports,Nintendo:Wii,2006.0,Sports,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,Nintendo:NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Nintendo:Wii,2008.0,Racing,15.85,12.88,3.79,3.31,35.83
4,Wii Sports Resort,Nintendo:Wii,2009.0,Sports,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,Nintendo:GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.38
6,Tetris,Nintendo:GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,Nintendo:DS,2400.0,Platform,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Nintendo:Wii,2006.0,Misc,14.03,9.20,2.93,2.85,29.01
9,New Super Mario Bros. Wii,Nintendo:Wii,2009.0,Platform,14.59,7.06,4.70,2.26,28.61
10,Duck Hunt,Nintendo:NES,1984.0,Shooter,26.93,0.63,0.28,NaN,NaN

In [8]:
df_sales.sort_values(by = "Total_Global_Sales", ascending = False).loc[:,['Name','Publisher:Platform','Total_Global_Sales']].head(15)

,Name,Publisher:Platform,Total_Global_Sales
Rank,,,
1,Wii Sports,Nintendo:Wii,82.74
2,Super Mario Bros.,Nintendo:NES,40.24
3,Mario Kart Wii,Nintendo:Wii,35.83
4,Wii Sports Resort,Nintendo:Wii,33.00
5,Pokemon Red/Pokemon Blue,Nintendo:GB,31.38
6,Tetris,Nintendo:GB,30.26
7,New Super Mario Bros.,Nintendo:DS,30.01
8,Wii Play,Nintendo:Wii,29.01
9,New Super Mario Bros. Wii,Nintendo:Wii,28.61
11,Nintendogs,Nintendo:DS,24.75
12,Mario Kart DS,Nintendo:DS,23.43
14,Wii Fit,Nintendo:Wii,22.72
15,Wii Fit Plus,Nintendo:Wii,22.00
16,NaN,Microsoft Game Studios:X360,21.82
17,Grand Theft Auto V,Take-Two Interactive:PS3,21.39

## User Friendly and Clean Data

We can see the human error of publisher and platform being put together. To create more variability for our data and allow for better analysis, we can seperate these two into two different categories.

In [9]:
# Splitting 'Publisher:Platform' column into 'Publisher' and 'Platform'
df_sales[['Publisher', 'Platform']] = df_sales['Publisher:Platform'].str.split(':', n=-1, expand=True)
#drop the original column
df_sales.drop(columns = 'Publisher:Platform', inplace= True)

## Analysis of Games and what is Popular

Throughout this next section, we can see what attributes might make a game popular. We can see what companies are successful, which markets are attracting, and what names might be good for a game to be called by following popular sales. This allows for potential replication and a way to base a client recommendation on.

In [10]:
# Number of nintendo games published
publisher = df_sales['Publisher']
print("The number of video games published by Nintendo is",publisher.isin(['Nintendo']).sum())

The number of video games published by Nintendo is 702

In [11]:
# number of games that contain the name Super
print(df_sales['Name'].str.contains('Super', case=True).value_counts())
print("The number of games that contain Super in their name is 385.")

Name
False    16211
True       385
Name: count, dtype: int64
The number of games that contain Super in their name is 385.

In [12]:
#How many video games have reached sales of at least $20 million in at least one market?
# Filtering the DataFrame where any market sales are at least $20 million
success_sale = df_sales[(df_sales[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']] >= 20).any(axis=1)]
num_games = len(success_sale)
print(f"The number of video games with at least $20 million in sales in at least one market is {num_games}")

The number of video games with at least $20 million in sales in at least one market is 4

In [13]:
#Games created past the year 2002
filtered = df_sales[df_sales['Year'] >= 2002]

#Check which of these games earned at least $2,000,000
successful_games = filtered[filtered['Total_Global_Sales'] >= 2]

#Calculate the percentage
percent = (len(successful_games) / len(filtered)) * 100

print(f"The percentage of video games created in 2002 and beyond that earned at least $2,000,000 in global sales is {percent:.2f}%")

The percentage of video games created in 2002 and beyond that earned at least $2,000,000 in global sales is 4.50%

## Correlations Between Markets and Total Global Sales

Observation 1
The correlation between NA_Sales and Global_Sales is very high, indicating that sales in North America are a strong predictor of global sales figures. This suggests that North America might be the largest market, or at least the most indicative of global success for these video games.

Observation 2
The correlation between JP_Sales and Global_Sales is lower compared to North America and Europe. This indicates that while Japanese sales are positively correlated with global sales, they are not as strong a predictor of global sales as North American or European sales.

In [14]:
#correlation matrix
sales = df_sales[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales','Total_Global_Sales']]
sales.corr()

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Global_Sales
NA_Sales,1.000000,0.765962,0.443597,0.652019,0.945460
EU_Sales,0.765962,1.000000,0.427718,0.727259,0.909880
JP_Sales,0.443597,0.427718,1.000000,0.290052,0.610489
Other_Sales,0.652019,0.727259,0.290052,1.000000,0.755407
Total_Global_Sales,0.945460,0.909880,0.610489,0.755407,1.000000

## Correlation in Year 2000

High Correlation between NA Sales and Global Sales: the North American market was a significant driver of a game's global success.

Lower Correlation for JP Sales:  it could indicate that the Japanese market had a different set of popular games that did not necessarily align with global trends.

Inferences for 2000:
Inference 1: Developers and publishers might have focused more on tailoring their games to appeal to the North American market, given its significant impact on global sales.

Inference 2: The difference in market dynamics between Japan and the rest of the world suggests that successful strategies in Japan might not have translated to global success, highlighting the importance of market-specific approaches.

In [15]:
year_2000 = df_sales[df_sales['Year'] == 2000]
correlation_2000 = year_2000[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales','Total_Global_Sales']]
print("Correlation Matrix for 2000:")
correlation_2000.corr()

Correlation Matrix for 2000:

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Global_Sales
NA_Sales,1.000000,0.866555,0.139115,0.691317,0.900914
EU_Sales,0.866555,1.000000,0.108401,0.748552,0.866584
JP_Sales,0.139115,0.108401,1.000000,0.226852,0.512328
Other_Sales,0.691317,0.748552,0.226852,1.000000,0.762164
Total_Global_Sales,0.900914,0.866584,0.512328,0.762164,1.000000

In [16]:
year_2015 = df_sales[df_sales['Year'] == 2015]
correlation_2015 = year_2015[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales','Total_Global_Sales']]
print("Correlation Matrix for 2015:")
correlation_2000.corr()

Correlation Matrix for 2015:

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Global_Sales
NA_Sales,1.000000,0.866555,0.139115,0.691317,0.900914
EU_Sales,0.866555,1.000000,0.108401,0.748552,0.866584
JP_Sales,0.139115,0.108401,1.000000,0.226852,0.512328
Other_Sales,0.691317,0.748552,0.226852,1.000000,0.762164
Total_Global_Sales,0.900914,0.866584,0.512328,0.762164,1.000000

"I pledge on my honor that I have not given nor received any unauthorized assistance on this assignment."

--James Wang